<div class="notes-header">
  <a ui-sref="home"><h2>{{post.title}}</h2></a>

</div>
<div class="post-box">
  <div ng-repeat="comment in post.comments | orderBy:'-upvotes'">
    <span class="comment">
      <p>{{comment.body}}</p>
    </span>
  </div>
</div>
<form ng-submit="addComment()"
	ng-show="isLoggedIn()"
  style="margin-top:30px">
	<h3>Add Notes</h3>

	<div class="form-group">
		<input type="text"
		class="form-control"
		placeholder="Note"
		ng-model="body"></input>
	</div>

	<button type="submit" class="btn btn-primary">Post</button>
</form>

<div ng-hide="isLoggedIn()">
    <h3>You need to <a ui-sref="login">Log In</a> or <a ui-sref="register">Register</a> before you can add a post.</h3>
</div>
