body,html {
	height: 100%
}

#quote {
	text-align: center;
	margin: auto;
  bottom: 0;
  height: 100px;
  left: 0;
  position: absolute;
  right: 0;
}

#quote * {
	color: #fff;
	text-shadow: 0 1px 5px rgba(0,0,0,.2);
}

.page-header {
	text-align: center;
}

.page-header h1 {
	font-size: 4em;
	color: #fff;
	text-shadow: 0 1px 5px rgba(0,0,0,.3);
}

.main {
	padding: 8%;
}

h1, h2, h3, h4, h5, h6, .glyphicon-remove {
	color: white;
}

.task *, .comment p {
	font-size:20px;
	margin-left:10px;
	color:white;
	vertical-align: middle;
}

.post-box {
  background: rgba(0, 0, 0, .6);
  border-radius: 5px;
}

.task *:hover, .glyphicon-remove:hover, .notes-header h2:hover, .notes-header a:hover {
	color:tomato;
}
